body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaf8d5;
}

header {
    background-color: #457b1d;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #63993a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
}

h2 {
    color: #81b757;
    font-size: 24px;
    margin-top: 20px;
}

p {
    line-height: 1.6;
    text-align: justify;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*Estilos responsivos*/
img {
    max-width: 25%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {

    /* Estilos para pantallas pequeñas (tabletas y móviles) */
    nav {
        padding: 10px 0;
        flex-direction: column;
    }

    nav a {
        margin: 10px 0;
    }

    .container {
        padding: 10px;
    }
}