:root{
    --principal:#b0e783;
    --complementario:#ba83e7;
    --fakeWhite:#fffff6;
    --lightestgreen:#eaf8d5;
    --bruhgreen:#d3f2b4;
    font-size: 16px;
}
body{
    z-index: -1;
    width: 100%;
    height: 100px;
    background-color: var(--bruhgreen);
}
#MasterContainer{
    position: relative;
    z-index: 10;
    display: block;
    height: auto;
}
#navegacion{
    z-index: 30;
    position: fixed;
    background-color: var(--fakeWhite);
}

.noticia{
    background-color: var(--fakeWhite) !important;
    position: relative;
    margin-top: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;  
}
#contenedorNoticias{
    position: relative;
    padding-top: .5rem;
    margin-top: 1rem;
    height: auto;
    display: block;
    background-color: var(--principal);
}
#newsSections{
    width: 100%;
    position: relative;
}

#newsTitle{
    background-color: var(--fakeWhite) !important;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.oracleInspiration{
    visibility: visible;
}
.carouselImage{
    z-index: -1;
}
.carouselTextBox{
    background-color: var(--fakeWhite) !important;
    z-index: 5;
    width: 300px;
    position: absolute;
    display: block;
    visibility: visible;
    background-color: var(--fakeWhite);
}
@media (max-width: 576px) {
    .carousel{
        height: 13rem;
        background-color: wheat;
    }
}

@media (min-width: 576px) {
    .carousel{
        height: 10rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .carousel{
        height: 18rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .carousel{
        height: 26rem;
    }
}
/* 
// X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/* 
// XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #navbarLostSpace{
        position: relative;
        top: 0;
        visibility: visible;
        height: 3.3rem;
        background-color: var(--fakeWhite);
    }
    #enchilada{
        position: relative;
        visibility: visible;
        height: 32rem;
    }
    #carouselDecorative{
        position: absolute;
        top: 3.3rem;
        visibility: visible;
        height: 32rem;
        background-image: url(../imgs/newsletter/aesthetic.jpg);
    }
    #newsSectionDecorative{
        z-index: 0;
        height: 25rem;
        top: 35.3rem;
        position: absolute;
        visibility: visible;
        background-color: var(--fakeWhite);
    }
    .carousel{
        height: 32rem;
    }
    .sectionNews{
        position: absolute;
        bottom: -30rem;
    }
    .carousel-inner{
        position: relative;
        height: 100%;
    }
    .carousel-item{
        position: relative;
        height: 100%;
    }
    .oracleInspiration{
        z-index: 10;
        bottom: -4rem;
        position: relative;
        width: 75rem;
        height: 25rem;
    }
    .carouselImage{
        z-index: 5;
        position: absolute;
        height: 90%;
        top: 0;
        left: 0;
    }
    .carouselTextBox{
        position: absolute;
        width: 53%;
        height: 90%;
        bottom: 0;
        right: 0;
    }
    #midPage{
        z-index: 1;
        visibility: visible;
        height: 25rem;
        background-color: #ba83e7;
    }

    #contenedorNoticias{
        width: 60%;
        left: -16.3rem;
    }
}
