<footer class="container-fluid">
    <div class="row" id="footerMain">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <h3>Contact us:</h3>
      </div>
      <div class="col-lg-4 col-12 d-flex justify-content-center align-items-center">
        <p>Emilio Ibarra Lomeli</p>
      </div>
      <div class="col-lg-4 col-12 d-flex justify-content-center align-items-center">
        <p>Jesus Abel Gutierrez Calvillo</p>
      </div>
      <div class="col-lg-4 col-12 d-flex justify-content-center align-items-center">
        <p>Hector Emiliano Flores Castellanos</p>
      </div>
    </div>
  </footer>
</body>

</html>