<footer class="container-fluid">
    <div class="row" id="footerMain">
      <div class="container col text-center">
        <h3>Contact us:</h3>
        <ul>
          <li><p>Emilio Ibarra</p></li>
          <li><p>Jesus abel</p></li>
          <li><p>Hector Flores</p></li>
        </ul>
      </div>
      <div class="container col text-center">
        <h3>Bibliography</h3>
        <ul>
          <li ><a href="https://www.cleaneatingmag.com/clean-diet/food-health-news/" target="_blank">Clean Eating Magazine</a></li>
          <li><a href="https://elpais.com/">El pais</a></li>
        </ul>
      </div>
      <div class="container col text-center">
        <h3>Our Social Media</h3>
        <ul >
          <li><p>Instagram: chulos_ig</p></li>
          <li><p>Facebook: chulos_fb</p></li>
          <li><p>X: chulos_tw</p></li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>